@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root{
    --cor-de-fundo:#fbe4fc;
    --cor-primaria:#0b0c0b;
    --cor-secundaria:hwb(320 73% 3%);
    --fonte: "Nunito", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-primaria);
    height: 100vh;
    font-family: var(--fonte);
}
header{
    background-color: var(--cor-primaria);
    text-align: center;
}
h1{
    color: var(--cor-de-fundo);
    font-size: 2rem;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}
nav a{
    text-decoration: none;
    color: var(--cor-de-fundo);
    margin: 0 0.5rem 0.5rem 0;
    font-size: 1.2rem;
}
nav a:hover{
    text-decoration: underline;
    transform: scale(0.9);
    transition: transform 0.5s;
}
span{
    color: var(--cor-secundaria);
    font-weight: bold;
}
footer{
    background-color: var(--cor-primaria);
    color: var(--cor-de-fundo);
    text-align: center;
}
.graficos-container{
    margin: 2rem;
}
.graficos-texto{
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem;
    border: var(--cor-secundaria)solid 2px;
}
